<div class="usa-navbar">
  <div class="usa-logo" id="extended-logo">
    <em class="site-name usa-logo__text">
      <a class="site-name__text" href="{{ url }}" title="{{ 'Home'|t }}" rel="home" aria-label="{{ 'Home'|t }}">{{ site_name }}</a>
    </em>
  </div>
  <button class="usa-menu-btn">{{ 'Menu'|t }}</button>
</div>
