{% set classes = [
  'usa-range',
  modifier_classes ? modifier_classes : '',
]|join(' ')|trim %}

<label class="usa-label" for="{{ range_id }}">{{ range_label }}</label>
<input id="{{ range_id }}" class="{{ classes }}" type="range" min="{{ range_min }}" max="{{ range_max }}" step="{{ range_step }}" {% if range_disabled %} disabled{% endif %}{% if range_value %} value="{{ range_value }}"{% endif %}>
