<label class="usa-label" for="{{ id }}">{{ label }}</label>
<select class="usa-select" name="{{ id }}" id="{{ id }}">
  {% for option in options %}
    <option value="{{ option.value }}">{{ option.label }}</option>
  {% endfor %}
</select>
